* {
    font-family: 'Poppins', sans-serif;

}

.container {
    
    min-width: 20%;
    width: 95%;
    /* sayfanın yüzde 90ı kaplıyor*/
    margin: 0 auto;
    margin-top: 10%;
}

.post-list img {
    border-radius: 20px;
    width: 100%;
}

.post-list h1 {
    font-size: 20px;
    color: #88c;

}

.post-list {
   margin-right: 25px;
    margin-bottom: 100px;
    float: left;
    width: 30%;
    padding: 40px;
    box-sizing: border-box;
    /* verdiğim genişliğin dahilinde boşluk bırakıyor*/
    border-radius: 19px;
    border: 2px solid #cccccc75;
}

.post-list p {
    font-size: 14px;
    color: #7e7b7b;
}

.img-list {
    text-align: center;
}

.read-more {
    text-decoration: none;
    /* altındaki yazıyı kaldırır*/
    font-size: 16px;
    border: 2px solid #ccc;
    padding: 3px 10px;
    border-radius: 4px;
    color: #7e7b7b;
    transition: 2s;
}

.read-more:hover {
    color: black;
    background-color: rgb(158, 158, 211);
    transform: scale(1.9);
}